<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Aerolineas App</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/aerolineas" id="navbarAerolineas" role="button" routerLinkActive="active">Aerolineas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/aeropuertos" id="navbarAeropuertos" role="button" routerLinkActive="active">Aeropuertos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/aviones" id="navbarAviones" role="button" routerLinkActive="active">Aviones</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/vuelos" id="navbarVuelos" role="button" routerLinkActive="active">Vuelos</a>
              </li>
          </ul>
       </div>
  </div>
</nav>
